- @project ||= Elect::Project.new
.container
  .row
    .three-quarters
      = form_for @project, url: admin_expos_path do |f|
        .form-group
          = f.label :title
          = f.text_field :title, class: 'form-control'
        .form-group
          = f.label :tagline
          = f.text_field :tagline, class: 'form-control'
        .form-group
          = f.label :description
          = f.text_area :description, class: 'form-control'
        .form-group
          = f.label :purpose
          = f.text_field :purpose, class: 'form-control'
        .form-group
          = f.label :project_type
          .select-control
            = f.select :project_type, options_for_select(Elect::Project::FolderTypes)
        = f.submit